main {
    display: grid;
    grid-template-columns: 15% 65% 17%;
    grid-gap: 20px;
    height: 90vh;
}


/* Estilos para el botón */
.add-button {
    background-color: #ebba71;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* Estilos para el icono */
.icon {
    margin-right: 10px;
    font-size: 20px;
}

.search-box {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

/* Estilos para el botón de búsqueda */
.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebba71;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 54px;
    height: 54px;
}



/* Estilos para el contenedor del campo de búsqueda y el botón */
.search-container {
    display: flex;
    width: 36%;
}

.contenedor {
    padding: .3rem;
}

section {
    height: 90%;
    overflow: hidden;
}

.navegacion_left {
    display: flex;
    justify-content: center;
    background-color: var(--first-color);
    height: 90%;
    border-radius: 0 8px 8px 0;
}

.fotoCamarero {
    position: relative;
    top: -72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navegacion_left img {
    border-radius: 50%;
    width: 100%;
}

.navegacion_left figure {
    display: flex;
    max-width: 100px;
    flex-direction: column;
    align-items: center;
}

.categoriasSecciones {
    padding: 4px;
}

.categoriasSecciones p {
    font-size: 12px;
    font-weight: 600;
}

.categorias {
    background: #ffeccf;
    height: 100px;
    margin-bottom: 4rem;
}

.itemsCategoria {
    padding: 5px;
    display: flex;
    overflow-x: scroll;
    margin-top: 20px;
}


.item {
    margin-right: 4px;
    cursor: pointer;
}

.item label {
    padding: 3px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 8px;
    cursor: pointer;
    background-color: #f3f3f3;
    border-radius: 50px;
}

input[type="submit"] {
    background: none;
    border: 0;
    line-height: normal;
    cursor: pointer;
}

.item figure {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.item img {
    width: 40px;
    height: 40px;
}

.item form input {
    width: 100%;
}

.productos {
    height: 90%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}


.producto {
    width: 100%;
    height: 282px;
    background-color: red;
    border-radius: .4rem;
}